body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(download\ \(4\).jpeg);
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 20px;
    background-image: url(th\ \(6\).jpeg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    margin-bottom: 20px;
}

#result {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #8912e4;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    background-color: #f36fba;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px #ccc;
}

.btn:active {
    box-shadow: none;
}

.equal {
    background-color: hsl(246, 80%, 58%);
    color: #fff;
    
}
